#chat-container{
    height: 579px;
    overflow-y: auto;
}
.widget-chat .media small.author{
	width:auto !important;
}
#convo-msg{
	text-align:center;
	padding:20px;
}
#id_melismessenger_tool{
	overflow:hidden;
}
#convo-header #convo-header-content{
	padding:20px;
	text-align:center;
	width:100%;
	border-bottom:1px solid #ebebeb;
}
#id_melismessenger_tool_content .widget-chat{
	height:740px;
}
#inbox-container{
	overflow-y:auto !important;
}
#load-more-msg{
	width:100%;
	text-align:center;
}
#compose-convo{
	width:100%;
	margin:auto;
}
#inbox-container{
	overflow: hidden !important;
}
#inbox-header{
	width:100%;
	background:#424242;
	padding:10px;
	color:#fff;
}
#inbox-list{
	max-height: 645px;
	overflow: auto;
}
#inbox-list .thumb.pull-left{
	margin-top:-6px;
}
.inbox-select-contacts {
	margin-top: 10px;
}
#chat-container .my-msg{
	background: #932e2a;
    border-radius: 17px;
    color: #fff;
    padding: 10px;
}
#melis-messenger-messages{
	width: 270px;
	max-height: 250px;
	overflow: auto;
}
#melis-messenger-messages li{
	padding: 10px;
}
#melis-messenger-messages img{
	margin-top: 18px;
}
#messenger-msg{
	display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}